[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
flask-httpauth = "*"
pynetbox = "*"
requests = "*"

[dev-packages]
pylint = "*"
flask-testing = "*"
coverage = "*"
bandit = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.8"
